body{
    margin : 0;
}

div{
    width : 220px;
    height : 220px;
}
span{
    margin-left : 30px;
}

h1{
    background-color: pink;
    width : 200px;
    padding-left : 100px;
    padding-top : 50px;
    margin : 0;
}
#first{
    background-color: #219ebc;
    border-width : 5px;
    border-color : black;
    border-style: solid;
    margin-left : 50px;
    margin-bottom : 100px;
    box-sizing : border-box;
}

#second{
    background-color: #ccd5ae;
    border-color: #e76f51;
    border-width : 3px;
    border-style: dashed;
    border-left-color : #f77f00;
    border-left-width: 6px;
    padding-right: 50px;
    margin : 200px;
}

#third{
    background-color: #d4a373;
    border : 3px solid #3a86ff;
    border-left-width: 5px;
    border-radius : 10px;
}

#fourth{
    background-color: aqua;
    border : 4px solid #f4acb7;
    border-right-style: dotted;
    border-radius: 50%;
}

#fifth{
    padding : 10px 20px 30px 40px;
}

#sixth{
    padding : 10px;
}