img{
    width : 30%;
    margin : calc(10% / 6);
}

nav{
    font-size : 1.5em;
    font-family: 'Ubuntu', sans-serif;
    text-transform : uppercase;
    border-bottom: 2px solid #edede9;
    width : 30%;
    margin-left : calc(10% / 6);
    padding : 1.0em 0;
    /* margin : calc(10% / 6); */
}